*{
  box-sizing: border-box;
  margin-left: 2rem;
  margin-right: 2rem;
}
h1{
  margin: 2rem;
}
thead {
  background-color:  #ff5e62;
  color: #ffffff;
  text-align: left;
  padding: 1rem;
}




table{
  border: 3px solid #FF4B2B!important;
  background-color:#ffdbd4 ;
  }


 tr:last-of-type {
  border-bottom: 2px solid #FF4B2B;
}

