* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #426696;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
}
h2,
p {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}

h3 {
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: url(https://products.ls.graphics/mesh-gradients/images/21.-Columbia-Blue_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  border-radius: 10px;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
  border: 1px solid rgba(255,255,255,0.3);
}
.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 10%;
  right: 20%;
}
.circle2 {
  bottom: 10%;
  left: 25%;
}
.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.3);
}
.link {
  display: flex;
  margin: 2rem 0rem;
  padding: 1rem 5rem;
  align-items: center;
}
.link h2 {
  padding: 0rem 2rem;
}

.form {
  flex: 1;
}




.status {
  margin-bottom: 3rem;
}

.status input {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.2)
  );
  border: none;
  width: 70%;
  padding: 0.8rem;
  border-radius: 10px;
}
input {
  display: flex;
 
  border-radius: 1rem;
  margin: 2rem 0rem;
  padding: 2rem;
  box-shadow: 2px 2px 5px rgba(122, 122, 122, 0.1);
  justify-content: space-between;
  border: 1px solid rgba(255,255,255,0.3);
}


.form {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
::placeholder{
  opacity: .5;
  
}

#sub{
  background-color:rgba(34, 235, 241, 0.7),;
}

@media print {
  .affichageStyle{
    display: contents;
  }
  .glass{
      display: none;
      
}
